" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Common settings
set incsearch
set NERDTree
set ignorecase smartcase
set easymotion
set ideajoin
set showmode
set clipboard+=ideaput

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/ReplaceWithRegister'

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
nmap <c-J> <Action>(EditorJoinLines)

nmap <leader>ev :vsplit ~/.ideavimrc<CR>
"" -- Open current editor file in project structure
nmap <leader>p <Action>(SelectInProjectView)
" Move cursor to project structure to file in the editor
nmap <leader>l <Action>(FileStructurePopup)
" Activate terminal window
nmap <leader>t <Action>(ActivateTerminalToolWindow)

nmap J <Action>(PreviousTab)
nmap K <Action>(NextTab)

nmap <leader>rr <Action>(RenameElement)
nmap <leader>ri <Action>(OptimizeImports)
nmap <leader>jp <Action>($LRU)
nmap <leader>je <Action>(ShowErrorDescription)
nmap <leader>jt <Action>(QuickTypeDefinition)
nmap <leader>jd <Action>(QuickJavaDoc)
nmap <leader>ju <Action>(FindUsages)
nmap <leader>jc <Action>(JumpToLastChange)
nmap <leader>jj <Action>(MethodDown)
nmap <leader>jk <Action>(MethodUp)

nmap <leader>o <Action>(GotoFile)
" Mapping to prepare a line for an input or clear from input
nnoremap <leader>OO ddO<space><esc>
nnoremap cc ddO

nmap <leader>n <Action>(FindWordAtCaret)

"" Git actions
nmap <leader>gg <Action>(VcsGroups)
nmap <leader>gb <Action>(Git.Branches)
nmap <leader>gd <Action>(Compare.SameVersion)
nmap <leader>gk <Action>(CheckinProject)
nmap <leader>gl <Action>(Vcs.Show.Local.Changes)
nmap <leader>gh <Action>(Vcs.Show.Log)
nmap <leader>gp <Action>(Vcs.Push)
nmap <leader>gr <Action>(Github.Create.Pull.Request)

nmap <leader>rr <Action>(RenameElement)
nmap <leader>ri <Action>(OptimizeImports)
nmap <leader>re <Action>(ReformatCode)

"" Shortcuts for folding
nmap <leader>fa1 <Action>(ExpandAllToLevel1)
nmap <leader>fa2 <Action>(ExpandAllToLevel2)
nmap <leader>fj <Action>(ExpandRegion)
nmap <leader>fk <Action>(CollapseRegion)
nmap <leader>faj <Action>(ExpandAllRegions)

"" Webstorm distraction modes
map <leader>zz <Action>(HideAllWindows)

noremap ' `

nmap <leader>xt <Action>(RunClass)
nmap <leader>xb <Action>(ToggleLineBreakpoint)
nmap <leader>xd <Action>(DebugClass)
nmap <leader>xs <Action>(Stop)
nmap <leader>xr <Action>(Rerun)
nmap <leader>x<space> <Action>(Resume)

" I have tried to added operator pending mapping following the examples at https://learnvimscriptthehardway.stevelosh.com/chapters/15.html
"onoremap inp :<c-u>normal! f(vi(<cr>
" It did not work, may be normal mode is not properly supported.
" This is mapping allows changing within parenthesis until we get proper support in ideavim
nnoremap cinp f(vi)di

nmap <leader>afj <Action>(NewJavaScriptFile)
"" Allows to navigate through the document using "f" search capabilities of easymotion-s
nmap s <Plug>(easymotion-s)
