" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

let mapleader = " "

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch
set NERDTree
set ignorecase smartcase

" Don't use Ex mode, use Q for formatting.
map Q gq

" Scroll the screen using 10 lines intervals
map <C-u> 10<C-y>
map <C-d> 10<C-e>

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

"" -- Open current editor file in project structure
map <leader>p <Action>(SelectInProjectView)
" Move cursor to project structure to file in the editor
map <leader>l <Action>(FileStructurePopup)
" Search by file name
map <leader>o <Action>(GotoFile)
" Activate terminal window
map <leader>t <Action>(ActivateTerminalToolWindow)

map J <Action>(PreviousTab)
map K <Action>(NextTab)

map <leader>rr <Action>(RenameElement)
map <leader>ri <Action>(OptimizeImports)
map <leader>jp <Action>($LRU)
map <leader>je <Action>(ShowErrorDescription)
map <leader>jt <Action>(QuickTypeDefinition)
map <leader>jd <Action>(QuickJavaDoc)
map <leader>ju <Action>(FindUsages)
map <leader>jc <Action>(JumpToLastChange)
map <leader>jj <Action>(MethodDown)
map <leader>jk <Action>(MethodUp)

map <leader>n <Action>(GotoNextElementUnderCaretUsage)
map <leader>b <Action>(GotoPrevElementUnderCaretUsage)
""map <leader>jh <Action>(Back)
""map <leader>jl <Action>(Forward)
"" Pin active editor tab
map <leader>mt <Action>(PinActiveTab)

"" Git actions
map <leader>gg <Action>(VcsGroups)
map <leader>gb <Action>(Git.Branches)
map <leader>gd <Action>(Compare.SameVersion)
map <leader>gk <Action>(CheckinProject)
map <leader>gl <Action>(Vcs.Show.Log)

map <leader>rr <Action>(RenameElement)
map <leader>ri <Action>(OptimizeImports)
map <leader>re <Action>(ReformatCode)

map <leader>w <Action>(MethodDown)
map <leader>b <Action>(MethodUp)

"" Shortcuts for folding
map <leader>fa1 <Action>(ExpandAllToLevel1)
map <leader>fa2 <Action>(ExpandAllToLevel2)
map <leader>fj <Action>(ExpandRegion)
map <leader>fk <Action>(CollapseRegion)
map <leader>faj <Action>(ExpandAllRegions)

"" Webstorm distraction modes
map <leader>zz <Action>(ToggleDistractionFreeMode)

noremap ' `

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
