" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

let mapleader = " "

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch
set NERDTree
set ignorecase smartcase

" Don't use Ex mode, use Q for formatting.
map Q gq

" Scroll the screen using 10 lines intervals
map <C-u> 10<C-y>
map <C-d> 10<C-e>

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

"" -- Open current editor file in project structure
noremap <leader>p <Action>(SelectInProjectView)
" Move cursor to project structure to file in the editor
noremap <leader>l <Action>(FileStructurePopup)
" Search by file name
noremap <leader>o <Action>(GotoFile)
" Activate terminal window
noremap <leader>t <Action>(ActivateTerminalToolWindow)

noremap J <Action>(PreviousTab)
noremap K <Action>(NextTab)

noremap <leader>jp <Action>($LRU)
noremap <leader>je <Action>(ShowErrorDescription)
noremap <leader>jt <Action>(QuickTypeDefinition)
noremap <leader>jd <Action>(QuickJavaDoc)
noremap <leader>ju <Action>(FindUsages)
noremap <leader>jc <Action>(JumpToLastChange)
noremap <leader>jj <Action>(MethodDown)
noremap <leader>jk <Action>(MethodUp)

noremap <leader>n <Action>(GotoNextElementUnderCaretUsage)
noremap <leader>b <Action>(GotoPrevElementUnderCaretUsage)
""map <leader>jh <Action>(Back)
""map <leader>jl <Action>(Forward)
"" Pin active editor tab
noremap <leader>mt <Action>(PinActiveTab)

"" Git actions
noremap <leader>gg <Action>(VcsGroups)
noremap <leader>gb <Action>(Git.Branches)
noremap <leader>gd <Action>(Compare.SameVersion)
noremap <leader>gk <Action>(CheckinProject)
noremap <leader>gl <Action>(Vcs.Show.Log)

noremap <leader>rr <Action>(RenameElement)
noremap <leader>ri <Action>(OptimizeImports)
noremap <leader>re <Action>(ReformatCode)

noremap <leader>w <Action>(MethodDown)
noremap <leader>b <Action>(MethodUp)

"" Shortcuts for folding
noremap <leader>fa1 <Action>(ExpandAllToLevel1)
noremap <leader>fa2 <Action>(ExpandAllToLevel2)
noremap <leader>fj <Action>(ExpandRegion)
noremap <leader>fk <Action>(CollapseRegion)
noremap <leader>faj <Action>(ExpandAllRegions)

"" Webstorm distraction modes
noremap <leader>zz <Action>(ToggleDistractionFreeMode)

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
